<!DOCTYPE html>
<html>
<link rel="stylesheet" href="project.css">
<title>Home Page</title>

<h2> Nutrient Analyzer</h2>

<body>
    <ul id="navbar">
        <li class="navelement"><a href="/index">Home</a></li>
        <li class="navelement"><a href="/fooddiary">Food Diary</a></li>
        <li class="navelement"><a href="/recipes">Recipes</a></li>
        <li class="navelement"><a href="/nutritiontable">Nutrient Table</a></li>
    </ul>
    <br/>
    
    {{{body}}}

</body>

</html>